<section class="community-page">

  {{#unless topics}}
    <p>{{t 'no_content'}}</p>
  {{/unless}}

  <div class="container">
    {{!-- Sidebar --}}
    <nav class="community__nav nav fade-in-up">
      <div class="search-container">
        <svg class="search-icon" xmlns="http://www.w3.org/2000/svg" width="17" height="16" viewBox="0 0 17 16" fill="none">
          <path d="M15.605 14.145L12.355 10.895H12.32C13.3218 9.71392 13.828 8.19119 13.7328 6.6454C13.6376 5.09961 12.9484 3.65049 11.8093 2.60119C10.6702 1.55189 9.16955 0.983676 7.62115 1.01542C6.07276 1.04717 4.59661 1.67641 3.5015 2.77152C2.40639 3.86663 1.77715 5.34278 1.7454 6.89117C1.71366 8.43957 2.28187 9.94026 3.33117 11.0793C4.38048 12.2184 5.82959 12.9076 7.37538 13.0028C8.92118 13.098 10.4439 12.5918 11.625 11.59C11.625 11.59 11.625 11.615 11.625 11.625L14.875 14.875C14.9215 14.9219 14.9768 14.9591 15.0377 14.9845C15.0987 15.0099 15.164 15.0229 15.23 15.0229C15.296 15.0229 15.3614 15.0099 15.4223 14.9845C15.4832 14.9591 15.5385 14.9219 15.585 14.875C15.6363 14.8297 15.6777 14.7742 15.7066 14.7122C15.7356 14.6502 15.7515 14.5828 15.7534 14.5144C15.7553 14.4459 15.7431 14.3778 15.7175 14.3143C15.692 14.2508 15.6537 14.1932 15.605 14.145ZM7.75003 12C6.76112 12 5.79442 11.7068 4.97218 11.1574C4.14993 10.608 3.50907 9.8271 3.13063 8.91346C2.75219 7.99983 2.65318 6.9945 2.8461 6.0246C3.03903 5.05469 3.51523 4.16378 4.21449 3.46451C4.91376 2.76525 5.80467 2.28905 6.77458 2.09612C7.74448 1.90319 8.74981 2.00221 9.66344 2.38065C10.5771 2.75909 11.358 3.39995 11.9074 4.2222C12.4568 5.04444 12.75 6.01114 12.75 7.00005C12.75 7.65666 12.6207 8.30684 12.3694 8.91346C12.1182 9.52009 11.7499 10.0713 11.2856 10.5356C10.8213 10.9999 10.2701 11.3682 9.66344 11.6194C9.05682 11.8707 8.40664 12 7.75003 12Z" fill="#686666"/>
        </svg>
        {{search scoped=settings.scoped_kb_search submit=false}}
      </div>
      <div class="nav__topics">
        <h6>{{t 'topics'}}</h6>
        <div>
          {{#each topics}}
            <p>
              <a href="{{url}}">{{name}}</a>
            </p>
          {{/each}}
        </div>
      </div>
    </nav>

    {{!-- Main Content --}}
    <div class="community__content">

      {{!-- Featured Posts --}}
      {{#if featured_posts}}
        <section class="community-featured-posts">
          <header class="page-header community-header">
            <h2 class="fade-in-up">{{t 'featured_posts'}}</h2>
            <span class="dropdown fade-in-up">
              <button class="dropdown-toggle" aria-haspopup="true">
                <p class="title">
                  {{t 'community_topics'}}
                </p>
                <span>
                  <svg xmlns="http://www.w3.org/2000/svg" width="12" height="10" viewBox="0 0 12 10" fill="none">
                    <path d="M1.5 5H10.5M10.5 5L6.5625 1M10.5 5L6.5625 9" stroke="#222B27" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                </span>
              </button>
              <span class="dropdown-menu" role="menu">
                {{#link 'topics' role='menuitemradio' aria-checked='true'}}
                  {{t 'show_topics'}}
                {{/link}}
                {{#link 'posts' role='menuitemradio'}}
                  {{t 'show_all_posts'}}
                {{/link}}
              </span>
            </span>
          </header>
          <ul class="featured-posts">
            {{#each featured_posts}}
              <li class="featured-posts-item fade-in-up">
                <div class="avatar post-avatar">
                  {{#if author.agent}}
                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" focusable="false" viewBox="0 0 12 12" class="icon-agent" aria-label="{{t 'team_member' name=author.name}}">
                      <path fill="currentColor" d="M6 0C2.7 0 0 2.7 0 6s2.7 6 6 6 6-2.7 6-6-2.7-6-6-6zm0 2c1.1 0 2 .9 2 2s-.9 2-2 2-2-.9-2-2 .9-2 2-2zm2.3 7H3.7c-.3 0-.4-.3-.3-.5C3.9 7.6 4.9 7 6 7s2.1.6 2.6 1.5c.1.2 0 .5-.3.5z"/>
                    </svg>
                  {{/if}}
                  <img src="{{author.avatar_url}}" alt="avatar" class="user-avatar"/>
                </div>
                <div class="post-meta">
                  <span title="{{author.name}}">
                    {{#link 'user_profile' id=author.id}}
                      {{author.name}}
                    {{/link}}
                  </span>
                </div>
                <h6><a href="{{url}}">{{title}}</a></h6>
                <div class="featured-posts-item-body">{{details}}</div>
                <div class="featured-posts-btn">
                  <a href="{{url}}"></a>
                  {{t 'see_more'}}
                  <span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="10" viewBox="0 0 12 10" fill="none">
                      <path d="M1.5 5H10.5M10.5 5L6.5625 1M10.5 5L6.5625 9" stroke="#222B27" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                  </span>
                </div>
              </li>
            {{/each}}
          </ul>
        </section>
      {{/if}}

      {{!-- Recent activity --}}
      <section class="community-activity activity section">
        <div class="fade-in-up">
          {{#if help_center.community_enabled}}
            {{recent_activity scope='community'}}
          {{/if}}
        </div>
        <div class="container fade-in-up">
          {{link 'new_post' class='button button-primary'}}
        </div>
      </section>
    </div>
  </div>

</section>
