<div class="homepage">
  <div class="container">

    {{!-- Sidebar --}}
    <nav class="homepage__nav nav fade-in-up">
      <div class="search-container">
        <svg class="search-icon" xmlns="http://www.w3.org/2000/svg" width="17" height="16" viewBox="0 0 17 16" fill="none">
          <path d="M15.355 14.145L12.105 10.895H12.07C13.0718 9.71392 13.578 8.19119 13.4828 6.6454C13.3876 5.09961 12.6984 3.65049 11.5593 2.60119C10.4202 1.55189 8.91955 0.983676 7.37115 1.01542C5.82276 1.04717 4.34661 1.67641 3.2515 2.77152C2.15639 3.86663 1.52715 5.34278 1.4954 6.89117C1.46366 8.43957 2.03187 9.94026 3.08117 11.0793C4.13048 12.2184 5.57959 12.9076 7.12538 13.0028C8.67118 13.098 10.1939 12.5918 11.375 11.59C11.375 11.59 11.375 11.615 11.375 11.625L14.625 14.875C14.6715 14.9219 14.7268 14.9591 14.7877 14.9845C14.8487 15.0099 14.914 15.0229 14.98 15.0229C15.046 15.0229 15.1114 15.0099 15.1723 14.9845C15.2332 14.9591 15.2885 14.9219 15.335 14.875C15.3863 14.8297 15.4277 14.7742 15.4566 14.7122C15.4856 14.6502 15.5015 14.5828 15.5034 14.5144C15.5053 14.4459 15.4931 14.3778 15.4675 14.3143C15.442 14.2508 15.4037 14.1932 15.355 14.145ZM7.50003 12C6.51112 12 5.54442 11.7068 4.72218 11.1574C3.89993 10.608 3.25907 9.8271 2.88063 8.91346C2.50219 7.99983 2.40318 6.9945 2.5961 6.0246C2.78903 5.05469 3.26523 4.16378 3.96449 3.46451C4.66376 2.76525 5.55467 2.28905 6.52458 2.09612C7.49448 1.90319 8.49981 2.00221 9.41344 2.38065C10.3271 2.75909 11.108 3.39995 11.6574 4.2222C12.2068 5.04444 12.5 6.01114 12.5 7.00005C12.5 7.65666 12.3707 8.30684 12.1194 8.91346C11.8682 9.52009 11.4999 10.0713 11.0356 10.5356C10.5713 10.9999 10.0201 11.3682 9.41344 11.6194C8.80682 11.8707 8.15664 12 7.50003 12Z" fill="#686666"/>
        </svg>
        {{search scoped=settings.scoped_kb_search submit=false}}
      </div>
      <div class="nav__categories">
        <h6>{{t 'categories'}}</h6>
        <div>
          {{#each categories}}
            <p>
              <a href="{{url}}">{{name}}</a>
            </p>
          {{/each}}
        </div>
      </div>
    </nav>

    {{!-- Main Content --}}
    <div class="homepage__content">
      <h1>Hello, how can we help you? </h1>

      {{!-- Introduction Section --}}
      <section class="introduction">
        <div class="introduction__items container">
          <div class="introduction__item fade-in-up">
            <div>
              <img src="{{settings.introduction_img1}}" alt="icon">
            </div>
            <h4><a href="{{settings.introduction_link1}}">{{settings.introduction_heading1}}</a></h4>
            <p>{{settings.introduction_subtitle1}}</p>
          </div>
          <div class="introduction__item fade-in-up">
            <div>
              <img src="{{settings.introduction_img2}}" alt="icon">
            </div>
            <h4><a href="tel:{{settings.introduction_link2}}">{{settings.introduction_heading2}}</a></h4>
            <p>{{settings.introduction_subtitle2}}</p>
          </div>
          <div class="introduction__item fade-in-up">
            <div>
              <img src="{{settings.introduction_img3}}" alt="icon">
            </div>
            <h4><a href="{{settings.introduction_link3}}">{{settings.introduction_heading3}}</a></h4>
            <p>{{settings.introduction_subtitle3}}</p>
          </div>
          <div class="introduction__item fade-in-up">
            <div>
              <img src="{{settings.introduction_img4}}" alt="icon">
            </div>
            <h4><a href="{{settings.introduction_link4}}">{{settings.introduction_heading4}}</a></h4>
            <p>{{settings.introduction_subtitle4}}</p>
          </div>
          <div class="introduction__item fade-in-up">
            <div>
              <img src="{{settings.introduction_img5}}" alt="icon">
            </div>
            <h4><a href="{{settings.introduction_link5}}">{{settings.introduction_heading5}}</a></h4>
            <p>{{settings.introduction_subtitle5}}</p>
          </div>
          <div class="introduction__item fade-in-up">
            <div>
              <img src="{{settings.introduction_img6}}" alt="icon">
            </div>
            <h4><a href="{{settings.introduction_link6}}">{{settings.introduction_heading6}}</a></h4>
            <p>{{settings.introduction_subtitle6}}</p>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>


